.mint{
	font-size: 15px;
}
.mint2{
	font-size: 15px;
}
.mint3{
	font-size: 15px;
}
.mint4{
	font-size: 25px;
}
.mint5{
	font-size: 100px;
}
.remove{
  width:10%;
  float:center;
  text-align:center;
  position:relative;
  height:0px;
  color:crimson;
}
.remove h3{
  display:none;
}
.remove i{
  width:20px;
  height:20px;
  transition:all 0.5s ease;
}
.remove i:hover{
  font-size:30px;
}
